.note-item {
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.note-item:hover {
    background-color: var(--Neutral-50);
}

.note-title {
    color: var(--Neutral-950);
    margin-bottom: 0.75rem;
}

.tag-container {
    margin-bottom: 0.75rem;
}

.tags-list{
    display: flex;
    gap: 0.25rem;
    list-style-type: none;
}

.tag-list-div {
    background-color: var(--Neutral-200);
    border-radius: 4px;
    padding: 0.125rem 0.375rem;

}

.note-item:focus {
    background-color: var(--Neutral-100);
    outline: none;
    box-shadow: 0 0 0 2px var(--Neutral-200);
}