.notesbar {
    height: 100%;
    padding: 1.25rem 2rem 1.25rem 2rem;
    background-color: var(--Neutral-0);
    overflow-y: auto;
    border-right: 1px solid var(--Neutral-200);
}





/* Responsive adjustments */
@media (max-width: 768px) {
    .notesbar {
        padding: 1rem;
    }
}