.note-details {
    padding: 1.5rem;
    background-color: var(--Neutral-0);
    border: 1px solid var(--Neutral-200);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
}

.note-details-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--Neutral-950);
}

.note-details-tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 0;
    margin-bottom: 0.5rem;
}

.note-details-img {
    width: 1rem;
    height: 1rem;
}

.note-details-tags-ul {
    display: flex;
    list-style-type: none;
    gap: 0.375rem;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.note-details-tag-icon-container {
    display: flex;
    gap: 0.375rem;
}

.note-details-last-edited {
    display: flex;
    flex-wrap: wrap;
    gap: 1.75rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    color: var(--Neutral-500);
}

.note-details-divider {
    margin-bottom: 1rem;
    border-top: 1px solid var(--Neutral-200);
}

.note-details-content {
    min-height: 300px;
    margin-bottom: 1rem;
}

.note-details-content-text {
    white-space: pre-wrap;
    color: var(--Neutral-700);
}

.note-details-buttons-container {
    display: flex;
    gap: 1rem;
}

input.note-details-title,
textarea.note-details-content-text {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--Neutral-200);
    border-radius: 4px;
    font-family: inherit;
}

.note-details-tags-input {
    padding: 0.25rem;
    border: 1px solid var(--Neutral-200);
    border-radius: 4px;
    flex-grow: 1;
}

textarea.note-details-content-text {
    min-height: 300px;
    resize: vertical;
}


@media (max-width: 768px) {
    .note-details {
        padding: 1rem;
        margin: 0.5rem 0;
    }
}